$color-blue: #009cff;

.browserupgrade {
		margin: 0.2em 0;
		background: #ccc;
		color: #000;
		padding: 0.2em 0;
}

body {
		font-family: helveticaneuecyr; font-size: 14px; font-weight: normal;
}

h1, h2, h3, h4 {
		font-family: helveticaneuecyr;
}

h1 {
		font-size: 36px;
		font-weight: 200;
}
h2 {
		font-size: 24px;
		font-weight: bold;
}
h3 {
		font-size: 18px;
		font-weight: normal;
}
h4 {
		font-size: 14px;
		font-weight: bold;
}

b, strong {
		font-weight: bold;
}
i, em {
		font-style: italic;
}

a {
		color: $color-blue;
		text-decoration: none;
		&:hover {
				color: $color-blue;
				text-decoration: underline;
		}
}

textarea, input, select, button, .btn {
		font-family: helveticaneuecyr;
		//font-weight: 300;
}
.input-lg, .btn-lg {
		font-size: 14px;
}
.btn-lg {
		padding: 13px 16px;
}

@media (max-width: 1000px) {
		.field {
				margin-bottom: 15px;
				&:last-child {
						margin-bottom: 0;
				}
		}
}

.dropDown {
		position: relative;
		z-index: 999;
		display: inline;
		cursor: pointer;
		.actual {
				cursor: pointer;
				padding-right: 17px;
				position: relative;
				&:after {
						content: "";
						width: 9px;
						height: 5px;
						position: absolute;
						top: 50%;
						right: 0;
						margin-top: -2px;
						background: url('../images/arrow-point.svg') no-repeat center center;
				}
		}
		._menu {
				display: none;
				position: absolute;
				top: 110%;
				left: 0;
				background: #fff;
				list-style: none;
				margin: 0;
				padding: 0;
				border: 1px solid #ebebeb;
        border-radius: 7px;
				box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
				&.right {
					left: auto;
					right: 0;
				}
				&.center {
					left: 50%;
					transform: translateX(-50%);
				}
				li {
						padding: 4px 15px;
						border-bottom: 1px solid #ebebeb;
						color: #009cff;
						text-decoration: none;
						min-width: 100% !important;
						white-space: nowrap;
						text-align: left !important;
            &:first-child {
              border-radius: 7px 7px 0 0;
            }
						&:last-child {
								border-bottom: none;
                border-radius: 0 0 7px 7px;
						}
						&:hover {
								background: #009cff;
                a {
                  color: #fff;
                }
						}
						&.selected {
								text-decoration: underline;
						}
				}
		}
		&.active {
				.actual {
						color: #009cff;
						text-decoration: underline;
				}
				._menu {
						display: block;
				}
		}
}

.styledSelect {
		display: inline-block;
		width: 100%;
		position: relative;
		z-index: 999;
		.actual {
				display: block;
				position: relative;
				width: 100%;
				height: 34px;
				padding: 6px 12px;
				font-size: 14px;
				line-height: 1.428571429;
				color: #555555;
				background: #fff;
				border: 1px solid #ccc;
				border-radius: 4px;
				&.input-lg {
						height: 46px;
						padding: 12px 16px;
						border-radius: 6px;
				}
				&:after {
						content: "";
						width: 11px;
						height: 6px;
						position: absolute;
						top: 50%;
						margin-top: -3px;
						right: 10px;
						background: url('../images/arrow-point-grey.svg') no-repeat center center;
				}
				&:hover {
						text-decoration: none;
				}
				&:focus {
						text-decoration: none;
				}
				i {
						padding-right: 23px;
						background: url('../images/ico-interface.svg') no-repeat;
						&.master {
								background-position: 0 2px;
						}
						&.place {
								background-position: 0 -13px;
						}
				}
		}
		._menu {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				min-width: 100%;
				border: 1px solid #ccc;
				background: #fff;
				list-style: none;
				margin: 0;
				padding: 0;
				li {
						padding: 4px 10px;
						white-space: nowrap;
						cursor: pointer;
						color: #555555;
						&:hover {
								background: $color-blue;
                color: #fff;
						}
						&.selected {
								text-decoration: underline;
						}
				}
		}
		&.active {
				.actual {
						&:after {
								transform: rotate(180deg);
						}
				}
				._menu {
						display: block;
				}
		}
}

.menu_nav {
		list-style: none;
		margin: 0;
		padding: 0;
}

.content-box {
		padding: 40px 0;
}

.readmore {
		padding-left: 15px;
		position: relative;
		&:before {
				content: "";
				width: 9px;
				height: 5px;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -2px;
				background: url('../images/arrow-point.svg') no-repeat center center;
				transform: rotate(-90deg);
		}
}


.pagination {
		.pagination-nav {
				list-style: none;
				margin: 0;
				padding: 0;
				.item {
						float: left;
						margin-left: 10px;
						padding-top: 4px;
						text-align: center;
						color: #89878d;
						font-size: 16px;
						font-weight: 300;
						line-height: 1;
						a {
								color: #89878d;
								&:hover {
										color: $color-blue;
										font-weight: normal;
								}
						}
						&.active {
								padding-top: 0;
								font-size: 24px;
								a {
										color: $color-blue;
								}
						}
				}
		}
}


.rating {
  width: 90px;
  height: 16px;
  position: relative;
  margin-bottom: 7px;
  background: url(../images/stars-empty.svg) no-repeat 0 0;
  div {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    background: url(../images/stars.svg) no-repeat 0 0;
    background-size: auto 100%;
    &.stars-1 { width: 18px; }
    &.stars-2 { width: 36px; }
    &.stars-3 { width: 54px; }
    &.stars-4 { width: 72px; }
    &.stars-5 { width: 90px; }
  }
}


.header {
		.pre-header {
				padding: 5px 0;
				color: #fff;
				background: url('../images/header-bg.jpg') repeat center center;
				.region {
						margin: 0;
						padding: 0 0 0 25px;
						position: relative;
						a {
								color: #fff;
								transition: All 0.3s;
								&:hover {
										color: $color-blue;
								}
						}
						&:before {
								content: "";
								width: 11px;
								height: 12px;
								position: absolute;
								top: 50%;
								margin-top: -6px;
								left: 0;
								background: url('../images/ico-flag.svg');
						}
				}
		}
}


.footer {
    border-top: 1px solid #eee;
		.footer-menu {
				background: #000;
				.menu_nav {
						li {
								margin-top: 7px;
						}
						a {
								font-size: 20px;
								font-weight: bold;
								color: #fff;
								&:hover {
										text-decoration: none;
								}
						}
						.child {
								list-style: none;
								margin: 0;
								padding: 0;
								a {
										font-size: 14px;
										font-weight: 300;
										color: #909090;
										&:hover {
												text-decoration: underline;
										}
								}
						}
				}
		}
		.copyright {
				padding: 20px 0;
				.copy {
						padding: 5px 0;
						color: #909090;
				}
				.menu_nav {
						li {
								float: left;
								margin-left: 10px;
								a {
										display: block;
										width: 30px;
										height: 30px;
										background: url('../images/social-icons.png') no-repeat;
										transition: All 0.3s;
										&.instagram {
												background-position: 0 0;
												&:hover {
														background-position: 0 -32px;
												}
										}
										&.googleplus {
												background-position: -32px 0;
												&:hover {
														background-position: -32px -32px;
												}
										}
										&.twitter {
												background-position: -64px 0;
												&:hover {
														background-position: -64px -32px;
												}
										}
										&.facebook {
												background-position: -96px 0;
												&:hover {
														background-position: -96px -32px;
												}
										}
								}
						}
				}
		}
}
