$font-path: '../fonts/';
$font-name: 'helveticaneuecyr';

@font-face {
    font-family: $font-name;
    src: url($font-path + '/' + $font-name + '-ultralight' + '/' + $font-name + '-ultralight.eot');
    src: url($font-path + '/' + $font-name + '-ultralight' + '/' + $font-name + '-ultralight.woff') format('woff'),
    url($font-path + '/' + $font-name + '-ultralight' + '/' + $font-name + '-ultralight.ttf') format('truetype'),
    url($font-path + '/' + $font-name + '-ultralight' + '/' + $font-name + '-ultralight.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: $font-name;
    src: url($font-path + '/' + $font-name + '-light' + '/' + $font-name + '-light.eot');
    src: url($font-path + '/' + $font-name + '-light' + '/' + $font-name + '-light.woff') format('woff'),
    url($font-path + '/' + $font-name + '-light' + '/' + $font-name + '-light.ttf') format('truetype'),
    url($font-path + '/' + $font-name + '-light' + '/' + $font-name + '-light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: $font-name;
    src: url($font-path + '/' + $font-name + '-roman' + '/' + $font-name + '-roman.eot');
    src: url($font-path + '/' + $font-name + '-roman' + '/' + $font-name + '-roman.woff') format('woff'),
         url($font-path + '/' + $font-name + '-roman' + '/' + $font-name + '-roman.ttf') format('truetype'),
         url($font-path + '/' + $font-name + '-roman' + '/' + $font-name + '-roman.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: $font-name;
    src: url($font-path + '/' + $font-name + '-italic' + '/' + $font-name + '-italic.eot');
    src: url($font-path + '/' + $font-name + '-italic' + '/' + $font-name + '-italic.woff') format('woff'),
    url($font-path + '/' + $font-name + '-italic' + '/' + $font-name + '-italic.ttf') format('truetype'),
    url($font-path + '/' + $font-name + '-italic' + '/' + $font-name + '-italic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: $font-name;
    src: url($font-path + '/' + $font-name + '-medium' + '/' + $font-name + '-medium.eot');
    src: url($font-path + '/' + $font-name + '-medium' + '/' + $font-name + '-medium.woff') format('woff'),
    url($font-path + '/' + $font-name + '-medium' + '/' + $font-name + '-medium.ttf') format('truetype'),
    url($font-path + '/' + $font-name + '-medium' + '/' + $font-name + '-medium.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: $font-name;
    src: url($font-path + '/' + $font-name + '-mediumitaicl' + '/' + $font-name + '-mediumitaicl.eot');
    src: url($font-path + '/' + $font-name + '-mediumitaicl' + '/' + $font-name + '-mediumitaicl.woff') format('woff'),
    url($font-path + '/' + $font-name + '-mediumitaicl' + '/' + $font-name + '-mediumitaicl.ttf') format('truetype'),
    url($font-path + '/' + $font-name + '-mediumitaicl' + '/' + $font-name + '-mediumitaicl.svg') format('svg');
    font-weight: bold;
    font-style: italic;
}