$color-blue: #009cff;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


@import "fonts.scss";
@import "all.scss";


.header {
    .header-panel {
        padding: 15px 0;
        .logo {
            display: inline-block;
            padding: 10px 0;
        }
        .search {
            padding: 10px 0;
            form {
                position: relative;
                width: 100%;
                input {
                    border-radius: 7px;
                    width: 100%;
                    padding-right: 32px;
                }
                button {
                    border: none;
                    background: url('../images/ico-search.svg') no-repeat 5px 7px;
                    width: 32px;
                    height: 34px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transition: All 0.3s;
                    &:hover {
                        background-image: url('../images/ico-search-a.svg');
                    }
                }
            }
        }
        .buttons {
            padding: 17px 0 10px;
            text-align: right;
            a {
                padding-left: 20px;
                position: relative;
                &:before {
                    content: "";
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    top: 1px; left: 0;
                    background: url('../images/header-link-ico.svg');
                    transition: All 0.3s;
                }
                &.register {
                    padding-right: 10px;
                    &:before {
                        background-position: 0 0;
                    }
                    &:hover {
                        &:before {
                            background-position: -16px 0;
                        }
                    }
                }
                &.login {
                    &:before {
                        background-position: 0 -16px;
                    }
                    &:hover {
                        &:before {
                            background-position: -16px -16px;
                        }
                    }
                }
            }
        }
    }
}

.main-banner {
    height: 350px;
    background: url('../images/main-banner.jpg') no-repeat center center;
    color: #fff;
    position: relative;
    .container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .buttons {
        list-style: none;
        margin: 0;
        padding: 30px 0 0;
        li {
            float: left;
            width: 33%;
            .item {
                padding-top: 60px;
                display: inline-block;
                color: #fff;
                position: relative;
                transition: All 0.5s;
                &:before {
                    content: "";
                    width: 72px;
                    height: 72px;
                    position: absolute;
                    top: -20px;
                    left: 50%;
                    margin-left: -36px;
                    border: 2px solid transparent;
                    border-radius: 50%;
                    transition: All 0.5s;
                }
                &.transport {
                    &:before {
                        background: url('../images/ico-transport.svg') no-repeat center center;
                    }
                    &:hover {
                        &:before {
                            background-image: url('../images/ico-transport-a.svg');
                        }
                    }
                }
                &.repaire {
                    &:before {
                        background: url('../images/ico-repaire.svg') no-repeat center center;
                    }
                    &:hover {
                        &:before {
                            background-image: url('../images/ico-repaire-a.svg');
                        }
                    }
                }
                &.service {
                    &:before {
                        background: url('../images/ico-service.svg') no-repeat center center;
                    }
                    &:hover, &.active {
                        &:before {
                            background-image: url('../images/ico-service-a.svg');
                        }
                    }
                }
                &:hover, &.active {
                    color: $color-blue;
                    &:before {
                        border-color: $color-blue;
                    }
                }
            }
        }
    }
}


.add-advert {
    background: $color-blue;
    .btn {
        width: 100%;
    }
    textarea, input, select {
        background: $color-blue;
        color: #fff;
        border-color: #fff;
    }
    textarea:active, input:active, select:active,
    textarea:focus, input:focus, select:focus
    {
        border-color: #fff;
    }
    input::-webkit-input-placeholder {color:#E5D4FF;}
    input::-moz-placeholder          {color:#E5D4FF;}/* Firefox 19+ */
    input:-moz-placeholder           {color:#E5D4FF;}/* Firefox 18- */
    input:-ms-input-placeholder      {color:#E5D4FF;}

    .date-input {
        position: relative;
        &:before {
            content: "";
            width: 13px;
            height: 13px;
            position: absolute;
            top: 50%;
            margin-top: -6px;
            left: 31px;
            background: url('../images/ico-interface-white.svg') no-repeat 0 -30px;
        }
        input {
            padding-left: 39px;
        }
    }

    .styledSelect {
        .actual {
            background: $color-blue;
            border-color: #fff;
            color: #fff;
            &:after {
                background-image: url('../images/arrow-point-white.svg');
            }
            i {
                background-image: url('../images/ico-interface-white.svg');
            }
        }
        ._menu {
            background: $color-blue;
            border-color: #fff;
            li {
                color: #fff;
                &:hover {
                    background: #fff;
                    color: #555555;
                }
            }
        }
    }
}


.how-this-work {
    background: url('../images/how-this-work-bg.jpg') no-repeat center center;
    color: #fff;
    text-align: center;
    .desc {
        font-weight: 200;
        letter-spacing: 1px;
    }
    .about {
        margin-bottom: 30px;
        .desc {
            font-size: 16px;
        }
    }
    .item {
        margin-top: 20px;
    }
}


.active-tasks {
    padding-bottom: 20px;
    h2 {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .date-input {
        position: relative;
        &:before {
            content: "";
            width: 13px;
            height: 13px;
            position: absolute;
            top: 50%;
            margin-top: -6px;
            left: 31px;
            background: url('../images/ico-interface.svg') no-repeat 0 -30px;
        }
        input {
            padding-left: 39px;
        }
    }
    .btn {
        width: 100%;
    }
    .list {
        margin-top: 20px;
        margin-bottom: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ebebeb;
        .item {
            display: inline-block;
            width: 100%;
            margin-bottom: 5px;
            background: #f6f6f6;
            transition: All 0.3s;
            span {
                white-space: nowrap;
                transition: All 0.3s;
                padding-top: 10px;
                padding-bottom: 10px;
                i {
                    font-style: normal !important;
                    max-width: 95%;
                    display: inline-block;
                    overflow: hidden;
                }
            }
            .icon {
                color: #282828;
                position: relative;
                display: block;
                &:before {
                    content: "";
                    width: 28px;
                    height: 28px;
                    position: absolute;
                    top: 50%;
                    left: 35px;
                    margin-top: -12px;
                }
            }
            .title {
                font-weight: bold;
                overflow: hidden;
            }
            .desc {
                color: #282828;
                position: relative;
                overflow: hidden;
                &.hidden {
                    &:after {
                        content: "...";
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }
            .date {
                color: #282828;
                text-align: right;
            }
            &:hover {
                background: $color-blue;
                box-shadow: 0 3px 3px rgba(0,0,0,0.3);
                .icon, .title, .desc, .date {
                    color: #fff;
                }
                .desc {
                    text-decoration: underline;
                }
            }
            &.transport .icon:before { background: url('../images/ico-tasks-transport.svg') no-repeat; }
            &.transport:hover .icon:before { background: url('../images/ico-tasks-transport-a.svg') no-repeat; }
            &.repair .icon:before { background: url('../images/ico-tasks-repair.svg') no-repeat; }
            &.repair:hover .icon:before { background: url('../images/ico-tasks-repair-a.svg') no-repeat; }
            &.service .icon:before { background: url('../images/ico-tasks-service.svg') no-repeat; }
            &.service:hover .icon:before { background: url('../images/ico-tasks-service-a.svg') no-repeat; }
            @media (max-width: 971px) {
                padding-top: 10px;
                padding-bottom: 10px;
                span {
                    padding-top: 0;
                    padding-bottom: 0;
                }
                .icon {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
            @media (max-width: 751px) {
                .date {
                    text-align: left;
                }
            }
        }
    }
}


.activities {
    padding-top: 0;
    .list {
        .item {
            padding: 30px 0;
            .head {
                span {
                    position: relative;
                    padding: 0 22px;
                    &:before {
                        content: "";
                        width: 13px;
                        height: 13px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        margin-top: -6px;
                        background: url('../images/ico-interface.svg') no-repeat;
                    }
                }
                .date {
                    &:before {
                        background-position: 0 -30px;
                    }
                }
                .time {
                    &:before {
                        background-position: 0 -45px;
                    }
                }
            }
            .body {
                color: #000;
            }
        }
    }
}



@import "profile.scss";
