$green-color: #efb331;

.header {
  .header-panel {
    .userButtons {
      .button {
        float: left;
        position: relative;
        z-index: 99;
        .btn-body {
          display: block;
          width: 35px;
          height: 35px;
          position: relative;
          margin-right: 40px;
          margin-top: 10px;
          transition: All 0.3s;
          span {
            display: block;
            width: 26px;
            height: 26px;
            text-align: center;
            font-size: 11px;
            line-height: 26px;
            color: #fff;
            background: #d00404;
            position: absolute;
            top: 5px;
            right: -13px;
            border-radius: 50%;
          }
          &.notifications {
            background: url("../images/ico-notification.svg") no-repeat center center;
          }
          &.messages {
            background: url("../images/ico-message.svg") no-repeat center center;
          }
          &:hover {
            opacity: 0.7;
          }
        }
        .pop-over {
          display: none;
          position: absolute;
          width: 300px;
          max-height: 268px;
          left: 0;
          bottom: 0;
          background: #fff;
          margin-bottom: -15px;
          margin-left: 17px;
          border-radius: 7px;
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
          transform: translate(-50%, 100%);
          &:before {
            content: "";
            position: absolute;
            top: -21px;
            left: 50%;
            margin-left: -11px;
            border: 11px solid;
            border-color: transparent transparent #009cff transparent;
          }
          > .title {
            background: #009cff;
            padding: 7px;
            text-align: center;
            color: #fff;
            font-weight: bold;
            border-radius: 7px 7px 0 0;
          }
          .list {
            list-style: none;
            margin: 0;
            padding: 0;
            max-height: 200px;
            overflow: auto;
            .item {
              display: block;
              width: 100%;
              height: 50px;
              padding: 5px 10px;
              border-bottom: 1px solid #eee;
              transition: all .3s;
              &.new {
                background: rgba(0,156,255,.2);
                border-bottom-color: #009cff;
              }
              a {
                text-decoration: none;
              }
              span {
                display: block;
                text-decoration: none;
                transition: all 0.3s;
                &.title {
                  float: left;
                  width: calc(100% - 80px);
                  font-weight: bold;
                  overflow: hidden;
                  white-space: nowrap;
                }
                &.date {
                  float: right;
                  width: 75px;
                }
                &.info {
                  clear: both;
                  width: 100%;
                  overflow: hidden;
                  white-space: nowrap;
                }
              }
              &:hover {
                background: rgba(0,156,255,.5);
                span {
                  color: #fff;
                }
              }
            }
          }
          > .more {
            background: #009cff;
            padding: 7px;
            color: #fff;
            border-radius: 0 0 7px 7px;
            a {
              color: #fff;
            }
          }
        }
        &.active {
          .pop-over {
            display: block;
          }
        }
      }
      .userMenu {
        display: block;
        float: left;
        .actual {
          display: block;
          width: 72px;
          height: 55px;
          .inner {
            display: block;
            width: 55px;
            height: 55px;
            overflow: hidden;
            border-radius: 50%;
            img {
              max-width: 100%;
            }
          }
        }
        ._menu {
          li {
            a {
              color: #323232;
              padding-left: 20px;
              padding-right: 10px;
              margin-left: -20px;
            }
            i {
              display: block;
              float: left;
              width: 14px;
              height: 14px;
              line-height: 14px;
              margin: 3px 6px 0 -6px;
              background: url(../images/ico-user-menu.svg) no-repeat;
              background-size: cover;
              &.profile { background-position: 0 0; }
              &.deals { background-position: 0 -14px; }
              &.news { background-position: 0 -28px; }
              &.stats { background-position: 0 -42px; }
              &.docs { background-position: 0 -56px; }
              &.settings { background-position: 0 -70px; }
            }
            &:hover {
              background: #ebebeb;
            }
          }
        }
      }
      @media (max-width: 768px) {
        width: 100%;
        .button {
          width: 35%;
        }
        .userMenu {
          float: right;
        }
      }
    }
  }
}

.profile-banner {
  .banner {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    .banner-img {
      max-width: 100%;
      @media (max-width: 768px) {
        min-height: 170px;
      }
      @media (max-width: 560px) {
        max-width: 1000%;
        height: 170px;
      }
    }
    .change-banner {
      position: absolute;
      top: 10%;
      left: 5%;
      color: #fff;
      padding-left: 23px;
      &:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 0;
        width: 13px;
        height: 13px;
        background: url(../images/ico-interface-white.svg) no-repeat;
        background-size: cover;
        background-position: 0 -60px;
      }
    }
    .change-info {
      position: absolute;
      top: 10%;
      right: 5%;
      color: #fff;
      background: #0076a3;
      padding: 5px 10px 5px 43px;
      border-radius: 5px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 33px;
        height: 100%;
        background: #00aeef;
        border-radius: 5px 0 0 5px;
      }
      &:after {
        content: "";
        position: absolute;
        top: 8px;
        left: 11px;
        width: 13px;
        height: 13px;
        background: url(../images/ico-interface-white.svg) no-repeat;
        background-size: cover;
        background-position: 0 -75px;
      }
    }
    @media (max-width: 768px) {
      .change-banner {
        font-size: 0;
        &:before {
          width: 20px;
          height: 20px;
          background-position: 0 -93px;
        }
      }
      .change-info {
        font-size: 0;
        height: 31px;
        padding: 0;
        background: none;
        right: auto;
        top: 35%;
        left: 5%;
        &:before {
          content: none;
        }
        &:after {
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          background-position: 0 -116px;
        }
      }
    }
  }
  .profile-photo {
    text-align: center;
    .photo {
      position: relative;
      max-width: 170px;
      display: inline-block;
      .image {
        display: block;
        overflow: hidden;
        border-radius: 50%;
        margin-top: -50%;
        img {
          width: 100%;
        }
        @media (max-width: 768px) {
          margin-top: -30%;
        }
      }
      .label {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40px;
        height: 40px;
        background: $green-color;
        text-align: center;
        font-size: 20px;
        line-height: 40px;
        padding: 0;
        border-radius: 50%;
        transition: All 0.3s;
        &:hover {
          box-shadow: 0 0 7px rgba(0,0,0,0.7);
        }
      }
      .change {
        position: absolute;
        left: 50%;
        bottom: 10px;
        margin-left: -10px;
        width: 20px;
        height: 17px;
        background: url(../images/ico-interface-white.svg) no-repeat;
        background-size: cover;
        background-position: 0 -94px;
        opacity: 0.6;
        transition: All 0.3s;
        &:hover {
          opacity: 1;
        }
      }
    }
    .level {
      line-height: 1 !important;
      @media (max-width: 768px) {
        display: block;
      }
    }
  }
  .name {
    h2 {
      font-weight: bold;
      line-height: 0.7;
      .how-old {
        white-space: nowrap;
        font-size: 13px;
        font-weight: normal;
        color: #9ea5a9;
      }
    }
    .about {
      font-weight: normal;
      font-size: 14px;
    }
    @media (max-width: 768px) {
      clear: both;
      padding-top: 10px;
      text-align: center;
      .rating {
        display: inline-block;
      }
    }
  }
  .buttons {
    margin-top: 10px;
    a {
      height: 36px;
      position: relative;
      line-height: 1 !important;
      margin-top: 5px; margin-bottom: 5px;
      transition: All 0.3s;
      span {
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      &.btn {
        background: $green-color;
        color: #fff;
        &:hover {
          opacity: 0.8;
        }
      }
      &.ico {
        color: #000;
        span {
          padding-left: 25px;
          &:before {
            content: "";
            width: 18px;
            height: 19px;
            position: absolute;
            top: 50%;
            left: 0;
            background: url(../images/ico-profile-btn.png) no-repeat;
            transform: translateY(-50%);
          }
        }
        &:hover {
          color: $green-color;
        }
      }
      &.send-message { span { &:before { background-position: 0 0; } } }
      &.save { span { &:before { background-position: 0 -20px; } } }
      &.leave-note { span { &:before { background-position: 0 -40px; } } }
    }
    @media (max-width: 980px) {
      a {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
        height: auto;
        &.btn {
          height: 36px;
        }
      }
    }
  }
}

.profile-information {
  .row {
    border-bottom: 1px solid #eee;
  }
  .specialty {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    li {
      float: left;
      margin-right: 15px;
      position: relative;
      font-size: 120%;
      &:after {
        content: "|";
        position: absolute;
        right: -9px;
      }
      &:last-child:after {
        content: none;
      }
    }
  }
  .more {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li.item {
        padding: 5px 0 5px 45px;
        position: relative;
        margin-top: 10px;
        color: #0a0a0a;
        font-weight: 500;
        &:before {
          content: "";
          width: 20px;
          height: 20px;
          position: absolute;
          top: 5px;
          left: 15px;
          background: url(../images/ico-profile-contacts.png) no-repeat;
        }
        &.city {
          &:before {
            background-position: 0 0;
          }
        }
        &.place {
          &:before {
            background-position: 0 -20px;
          }
        }
        &.email {
          &:before {
            background-position: 0 -40px;
          }
        }
        &.langs {
          &:before {
            background-position: 0 -60px;
          }
        }
        &.phone {
          &:before {
            background-position: 0 -80px;
          }
        }
        &.age {
          &:before {
            background-position: 0 -100px;
          }
        }
        &.mode {
          &:before {
            background-position: 0 -120px;
          }
        }
        &.facebook {
          &:before {
            background-position: 0 -140px;
          }
        }
        i.confirmed {
          display: inline-block;
          width: 12px;
          height: 9px;
          margin-left: 5px;
          background: url(../images/ico-checked-green.png) no-repeat center center;
        }
        span.confirmed {
          color: #07bc10;
        }
      }
    }
    @media (min-width: 768px) {
      margin-top: 30px;
    }
  }
  .best-works {
    .items {
      list-style: none;
      margin: 0;
      padding: 0;
      .item {
        padding-top: 15px;
        padding-bottom: 15px;
        a, span {
          display: block;
          height: 150px;
          overflow: hidden;
          border-radius: 10px;
          position: relative;
          text-align: center;
        }
        a {
          &:before {
            content: "";
            width: 32px;
            height: 32px;
            position: absolute;
            top: 50%;
            left: 50%;
            background: url(../images/ico-photo-zoom.svg) no-repeat center center;
            background-size: cover;
            opacity: 0.8;
            transform: translate(-50%,-50%);
            transition: all 0.3s;
          }
          &:hover:before {
            width: 64px;
            height: 64px;
            opacity: 0.5;
          }
        }
        span {
          background: #ebebeb;
          &:before {
            content: "";
            width: 44px;
            height: 37px;
            position: absolute;
            top: 50%;
            left: 50%;
            background: url(../images/ico-photo-add.svg) no-repeat center center;
            background-size: cover;
            opacity: 0.8;
            transform: translate(-50%,-50%);
            transition: all 0.3s;
          }
          &.addPhoto {
            cursor: pointer;
            &:hover:before {
              width: 66px;
              height: 53px;
              opacity: 0.5;
            }
            input[type="file"] {
              opacity: 0;
              font-size: 0;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              cursor: pointer;
            }
          }
        }
        @media (max-width: 768px) {
          padding: 5px;
        }
      }
    }
    @media (max-width: 768px) {
      display: inline-block;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 20px;
    }
  }
}

.profile-character {
  .row {
    border-bottom: 1px solid #eee;
  }
  .character {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    .item {
      float: left;
      width: 18%;
      margin: 10px 1%;
      text-align: center;
      .percentage {
        width: 100%;
        border: 2px dotted #009cff;
        font-size: 40px;
        line-height: 40px;
        color: #009cff;
        font-weight: bold;
        border-radius: 50%;
      }
      .name {
        font-size: 18px;
        margin-top: 20px;
      }
      @media (max-width: 900px) {
        width: 31%;
        &:nth-child(4) {
          margin-left: 17%;
        }
      }
      @media (max-width: 768px) {
        width: 48%;
        &:nth-child(4) {
          margin-left: 1%;
        }
        &:nth-child(5) {
          margin-left: 25%;
        }
      }
    }
  }
  @media (min-width: 768px) {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
  }
}

.profile-reviews {
  margin-bottom: 30px;
  h2 {
    line-height: 61px;
    padding-left: 75px;
    position: relative;
    &:before {
      content: "";
      width: 61px;
      height: 61px;
      position: absolute;
      top: 0;
      left: 0;
      background: url(../images/ico-reviews-title.png) no-repeat 0 0;
    }
    span {
      font-size: 14px;
      color: #009cff;
      font-weight: normal;
    }
  }
  .filter {
    .categories {
      list-style: none;
      margin: 15px 0 0;
      padding: 0;
      li {
        float: left;
        margin-right: 20px;
        position: relative;
        a {
          color: #5e5e5e;
        }
        &.active {
          a {
            color: #009cff;
          }
        }
        &:after {
          content: "/";
          position: absolute;
          top: 0;
          right: -12px;
        }
        &:last-child:after {
          content: none;
        }
      }
      @media (max-width: 768px) {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  .reviews-list {
    .item {
      border-bottom: 1px solid #eee;
      padding-top: 30px;
      padding-bottom: 30px;
      .image {
        padding: 0;
        margin-right: 20px;
        position: relative;
        a {
          display: block;
          overflow: hidden;
          border-radius: 50%;
        }
        img {
          max-width: 100%;
        }
      }
      .name {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        color: #343434;
        a {
          color: #343434;
          text-decoration: none;
        }
      }
      .work {
        margin: 0 0 7px;
      }
      .date {
        font-weight: bold;
        color: #343434;
        margin: 5px 0;
      }
      .review {
        margin: 5px 0;
        color: #747474;
      }
      .item-menu {
        margin-bottom: 10px;
        text-align: right;
        .dropDown {
          z-index: 99;
          .actual {
            padding-right: 0;
            line-height: 1;
            img {
              height: 6px;
              width: 27px;
            }
            &:after {
              content: none;
            }
          }
        }
      }
      .rating {
        display: inline-block;
      }
    }
  }
}
